@page
@model Todo.Pages.TodoList.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TodoItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.ExpectFinishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.ExpectFinishedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.IsDone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.IsDone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TodoItem.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
